target
.DS_Store
response.json
*.swp
package-lock.json
__pycache__
.pytest_cache
.env
.venv
*.egg-info
docker/bootstrap
.vscode/.ropeproject/objectdb
# CDK asset staging directory
.cdk.staging
cdk.out